@font-face{
    font-family: 'serifdisplaydesktop';
    src: url(/fonts/DMSerifDisplay-Regular.ttf) format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'robotoflex';
    src: url(/fonts/Montserrat-Italic-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    background-color: #ECFFF5;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 0;
}

.musikh2, .jinglesh2, .eventsh2{
    text-align: center;
    padding-top: 1rem;
}

.musikicon, .nodeicon, .eventicon{
    margin-left: 5rem;
}

a {
    text-decoration: none;
    color: #000;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease;
}

a:hover {
    color: #5BAA8D; /* Change text color */
    transform: translateY(-2px); /* Move the link up slightly */
}

a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #5BAA8D;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
@media(min-width: 769px){

    .portfolioh1{
    font-family: 'serifdisplaydesktop';
    font-size: 100;
}

h2{
    font-family: 'serifdisplaydesktop';
    font-size: 36;
    color: black;
    margin-bottom: 1rem;
}

.nav-list{
    font-family: 'serifdisplay';
    font-size: 36;
    
}

p{
    font-family: 'robotoflex';
    font-size: 16;
    color: black;
    }

article{
    font-family: 'robotoflex';
    font-size: 16;
    color: black;
    }
aside{
    font-family: 'robotoflex';
    font-size: 16;
    color: black;
    }

    .kontaktmig{
        font-family: 'robotoflex';
        font-size: 65;
        color: white;
    }

    .komikontakt{
        border: 2px solid #11553C;
        background-color: #11553C;
        padding: 10px;
        margin: 40px;
        text-align: center;
        margin-bottom: -20px;
    }

    .komikontakt a{
        color: white;
        text-decoration: none;
    }

    .kontaktmigp p{
        font-family: 'robotoflex';
        font-size: 16;
        color: white;
    }
}
