@media (width >= 769px) {
    body {
        max-width: 1512px;
        margin: 0 auto; 
    }

    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: lightgrey;
        align-items: center; 
    }

    .nav-list {
        display: flex;
        list-style: none;
        gap: 100px;
        padding-right: 585px;
        justify-content: flex-end; 
    }

    .section-grid_1_1_1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
        padding-top: 7rem;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-bottom: 10rem;
    }

    .flex-col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center; 
        text-align: center; 
    }

    .section-grid_1 h3,
    .section-grid_1 p,
    .section-grid_1 li {
        margin: 5px 0;
        padding: 0;
        line-height: 1.2;
        list-style: none;
    }

    .section-grid_1 h3 {
        margin-bottom: 100px;
        align-self: flex-start;
        margin-top: 2rem;
    }

    .section-grid_1 li {
        border: 2px solid #11553C;
        background-color: #11553C;
        padding: 10px 20px;
        display: inline-block;
    }

    .section-grid_1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        background-color: #2F8062;
        width: 100%;
        height: 50vh;
        padding: 2rem; 
    }

    .section-grid_2_1_1_1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        margin-top: 5rem;
        align-items: center; 
    }
    
    .footernav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0 1rem;
        list-style: none;
        gap: 2rem;
    }
    
    .footericon {
        text-align: center; 
        grid-column: 2 / 3; 
        padding-left: 350px; 
    }

    .social-icons {
        display: flex;
        justify-content: flex-end; 
        gap: 10px; 
        grid-column: 4 / 5; 
        padding-right: 20px; 
    }
    
    .social-icons img {
        width: 100px; 
        height: 100px;
    }

    .contactme{
        margin-left: 33px;
    }
}